@import url('https://fonts.googleapis.com/css?family=Bentham&display=swap');

body {
    position: relative;
    display: flex;
    background-color: rgb(60,91,137);
    /*font-family: ;*/
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
    /*min-height: calc(100vh - 55px);*/
    flex-direction: column;
    /*justify-content: space-between;*/
    /*background-image: url(/img/bg.jpg);*/
    background-repeat: no-repeat;
}
body a {
    color: #FFFFFF;

}
.header {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    border-top: 5px solid rgb(60,91,137);
    border-bottom: 1px solid rgb(60,91,137);
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*background: linear-gradient(90deg, rgb(35,65,103)0%, rgb(6,31,62)100%);*/
}
.support {
    width: 100px;
    background-color: rgb(60,91,137);
    margin-right: 25px;
    position: absolute;
    top: 0;
    right: 93px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 0 0 3px 3px;
    /*vertical-align: top;*/
    /*display:inline-block;*/
}
.support img {
    margin-right: 18px;
}
.company {
    position: absolute;
    display: flex;
    top: 35px;
    left: 72px;
}
.company img {
    margin-right: 19px;
    margin-left: 19px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    height: 60px;
    text-align: justify;
    background: rgb(18,48,86);
}
.main-content {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 55px - 166px);
}
footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 55px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(6,31,62);

}
.footer-link {
    text-decoration: none;
}
.nav-link {
    text-decoration: none;
}
.navigation {
    position:relative;
    display: flex;
}
.company {
    position:absolute;
    display: flex;
    left: 70px;
}
.search-container {
    position:absolute;
    display: flex;
    top: 10px;
    right: 13px;
    border: 2px solid rgb(63,94,138);
    border-radius: 3px;
    height: 32px;
    width: 320px;
    background-color: rgb(6,31,62);
}
.search-text {
    width: 100%;
    border: 0;
    background-color: rgb(6,31,62);
    background-image: url('../img/search-btn.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;
    color: white;
}
.search-text:focus {
    background-image: none;
    padding-left: 8px;
}
.search-img {
    height: 20px;
    width: 20px;
    margin: 6px;
}
input[type="text"]::placeholder {
    font-size: 13px;
    color: white;
}
.tabs {
    position:absolute;
    display: flex;
    top: 23px;
    left: 70px;
    width: 424px;
    justify-content: space-between;
}
.footer-left {
    display: flex;
    min-width: 370px;
    justify-content: space-between;
    margin-bottom: 0;
    padding-left: 72px;
}
.footer-right {
    display: flex;
    padding-right: 37px;
}
.title {
    padding-top: 35px;
    padding-left: 70px;
    font-family: Helvetica, Arial;
    font-size: 24pt;
    color: white;
    font-weight: bold;
}
.articles {
    display: flex;
    margin-top: 125px;
    padding-left: 100px;
}
.article {
    height: 340px;
    width: 155px;
    min-width: 155px;
    background: white;
    overflow: hidden;
    color: black;
    transition: all 0.3s linear;
    padding: 22px;
    display: flex;
    box-shadow: -1px 0 0 0 rgba(70,101,115,0.3);
}
.articles {
    display: flex;
    justify-content: center;
}
.article.active {
    height: 340px;
    width: 800px;
    min-width: 800px;
    margin: 0 100px;
    padding: 22px;
}
.article:first-child {
    background-image: url(../img/tile-ac-01-ega.jpg);
    background-repeat: no-repeat;
}
.article:nth-child(2) {
    background-image: url(../img/tile-ac-02-eia.jpg);
    background-repeat: no-repeat;
}
.article:nth-child(3) {
    background-image: url(../img/tile-ac-03-la.jpg);
    background-repeat: no-repeat;
}
.article:last-child {
    background-image: url(../img/tile-ac-04-tfa.jpg);
    background-repeat: no-repeat;
}
.articles > .article.active:first-child {
    margin-left: 0
}

.articles > .article.active:last-child {
    margin-right: 0
}
.left-block {
    position: fixed;
    width: 200px;
    word-wrap: normal;
}
.left-block>h3 {
    font-family: Bentham;
    font-size: 24pt;
    color: #123056;
}
.left-block>hr {
    position: fixed;
    top: 85px;
    /*opacity: 10%;*/
    color: black;
    size: 1px;
    width: 165px;
}
.left-block>p {
    position: relative;
    top: 55px;
    padding-right: 22px;
    font-family: Helvetica, Arial;
    font-size: 14pt;
    color: black;
    margin-bottom: 50px;
}
.left-block>a {
    font-family: Helvetica, Arial;
    font-size: 12pt;
    color: #00adef;
    position: fixed;
    bottom: 20px;
    text-transform: uppercase;
}
.common {
    position: fixed;
    left: 220px;
}
.first-block {
    display: flex;
}
.third-block {
    display: flex;
}
.block-left {
    width: 290px;
}
.block-right {
    padding-left: 20px;
    width: 290px;
}
ul {
    list-style: disc;
    padding-left: 20px;
}